@media screen and (max-width : 512px) {

.container{
    width: 100%;
}

/* ///// header style ////// */

nav{
    padding: 0 10px;
}

nav .btn{
    padding: 4px 20px;
}

nav > ul {
    background-color: aqua;
    visibility: hidden;
    position: absolute;
}


/* ///// haeder end //////// */

/* ////// main /////////// */

.hero{
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 100px;
    width: 100%;
    
}

.hero > div{
    padding: 20px;
}

.hero > img{
    width: 100%;
    /* left: 200px; */
    /* position: relative; */
    z-index: -1;
}

.hero p{
    font-size: 16px;
}
/* ------------------------- */
#about{
    z-index: 0;
}

#about p{
    width: 100%;
    font-size: 16px;
    line-height: 2;
}

#about .pembungkusMySkill{
    width: 100%;
    gap: 10px;
    /* background-color: aqua; */
}

#about .pembungkusMySkill div{
    width: 90px;
    height: 90px;
    overflow: hidden;
}

#about .pembungkusMySkill div > p{
    font-size: 10px;
}
/* --------------------------- */

#porto > .pembungkus{
    width: 100%;
}

#porto > .pembungkus > div{
    flex-grow: 1;
}
/* --------------------------- */
#article p{
    width: 100%;
    font-size: 16px;
    line-height: 2;
}
/* ---------------------------- */
.navigasiBawah{
    width: 100%;
}

.navigasiBawah .phone{
    visibility: visible;
    position: static;
}

.navigasiBawah .notPhone{
    visibility: hidden;
    position: absolute;
}

/* ////// main end /////// */




}