@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/****** style system ******/
.container{
    width: 90%;
    margin: auto;
}

.btn{
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 600;
    color: #34353A;
    background-color: #F0BF6C;
    border-radius: 4px;
}

.btn:hover{
    background-color: #ffda99;
}

.hilang{
    visibility: hidden;
    position: absolute;
}
/****** style sytem end ******/


/* ----- color style------ */
.warnaUtama{
    background-color: #34353A;
}

.warnaKedua{
    background-color: #3D3E42;
}

.teksPutih{
    color: #fff;
}
/* ----- color end ------ */

/* ////// header /////// */
header{
    margin-top: 20px;
    position: sticky;
    top:0;
}
/* ///// header end //// */

/* ///// nav ///////// */
nav {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F0BF6C;
}

nav > ul{
    display: flex;
    list-style: none;
}

nav > ul > li a {
    text-decoration: none;
    margin: 0 20px;
    color: #999;
}

nav > ul > li a:hover{
    color: #fff;
}
/* ////// nav end /////// */


/* ////// main ////// */

/* /// hero /// */
.hero{
    margin-top: 20px;
    background: linear-gradient(270deg, #3D3E42 0%, rgba(61, 62, 66, 0) 74.7%);
    border-radius: 20px;
    height: 480px;

    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.hero p{
    font-size: 20px;
}

.hero h1{
    font-size: 48px;
    font-weight: 600;
    color: #F0BF6C;
}

.hero img{
    height: 520px;
}

.hero a {
    display: inline-block;
    margin-top: 50px;
}
/* //// hero end //// */

.hero > div{
    padding-left: 40px;
}

.hero > div:nth-child(6){
    padding-left: 0px;
}


/* /// about ////// */
#about h3{
    color: #F0BF6C;
}

#about p{
    margin-top: 40px;
    font-size: 16px;
    width: 600px;
}
/* /// about end /// */














/* ////// footer ////// */
footer{
    /* background-color: yellowgreen; */
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .notPhone{
    margin: auto;
    width: 40%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

footer .notPhone a{
    text-align: center;
    padding: 8px;
    flex-basis: 100%;
}

footer .notPhone a:hover{
    background-color: #F0BF6C;
}


footer .notPhone img{
    width: 18px;
}

footer .phone{
    margin: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

footer .phone a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    flex-basis: 100%;
}

footer .phone a:hover{
    background-color: #F0BF6C;
    color: #34353A;
}
/* ////// footer end //// */



/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */