@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/****** style system ******/
.container{
    width: 90%;
    margin: auto;
}

.btn{
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 600;
    color: #34353A;
    background-color: #F0BF6C;
    border-radius: 4px;
}

.btn:hover{
    background-color: #ffda99;
}

.hilang{
    visibility: hidden;
    position: absolute;
}
/****** style sytem end ******/


/* ----- color style------ */
.warnaUtama{
    background-color: #34353A;
}

.warnaKedua{
    background-color: #3D3E42;
}

.teksPutih{
    color: #fff;
}
/* ----- color end ------ */

/* ////// header /////// */
header{
    z-index: 1;
    margin-top: 20px;
    position: sticky;
    top:0;
}
/* ///// header end //// */

/* ///// nav ///////// */
nav {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F0BF6C;
}

nav > ul{
    display: flex;
    list-style: none;
}

nav > ul > li a {
    text-decoration: none;
    margin: 0 20px;
    color: #999;
}

nav > ul > li a:hover{
    color: #fff;
}
/* ////// nav end /////// */




/* ////// main ////// */


/* /// hero /// */
.hero{
    margin-top: 10px;
    background: linear-gradient(270deg, #3D3E42 0%, rgba(61, 62, 66, 0) 74.7%);
    border-radius: 20px;
    height: 510px;

    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.hero p{
    font-size: 20px;
}

.hero h1{
    font-size: 48px;
    font-weight: 600;
    color: #F0BF6C;
}

.hero img{
    height: 100%;
}

.hero a {
    display: inline-block;
    margin-top: 50px;
}

.hero > div{
    padding-left: 40px;
}

.hero div h3{
    color: #F0BF6C;
}
/* //// hero end //// */


/* /// about ////// */

#about > p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    width: 600px;
}

#about .pembungkusMySkill{
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

#about .pembungkusMySkill div{
    padding: 20px;
    background-color: #3D3E42;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

#about .pembungkusMySkill div:hover{
    background-color: #F0BF6C;
    color: #34353A;
}
#about .pembungkusMySkill div > img{
    height: 80%;
}

#about .pembungkusMySkill div p {
    font-size: 12px;
}
/* /// about end /// */

/* /// porto ///// */
#porto {
    height: 100%;
    /* background-image: url(logoAi.png); */
}

#porto > .pembungkus{
    margin-top: 20px;
    padding: 4px;
    width: 70%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#porto > .pembungkus > div{
    height: 100px;
    width: 100px;
    margin: 3px;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 0;
    flex-basis: 20%;
    flex-shrink: 1;
}

#porto > .pembungkus > div:nth-child(1){
    background-image: url(airBnb.png);    
}

#porto > .pembungkus > div:nth-child(2){
    background-image: url(bandai.png);
    flex-basis: 40%;
}

#porto > .pembungkus > div:nth-child(3){
    background-image: url(earphone.png);
}

#porto > .pembungkus > div:nth-child(4){
    background-image: url(tafsirQ.png);
    flex-basis: 40%;
}

#porto > .pembungkus > div:nth-child(5){
    background-image: url(cocaCola.png);
    flex-basis: 40%;
}

#porto > .pembungkus > div:nth-child(6){
    background-image: url(vespa.png);
}

#porto > .pembungkus > div:nth-child(7){
    background-image: url(vector-2.png);
}

#porto > .pembungkus > div:nth-child(7){
    background-image: url(onic\ kayes.png);
}

#porto > .pembungkus > div:nth-child(8){
    background-image: url(sunrisePay.png);
    flex-basis: 40%;
}

#porto > .pembungkus > div:nth-child(9){
    background-image: url(berlajarAbc.png);
    flex-basis: 40%;
}

#porto > .pembungkus > div:nth-child(10){
    background-image: url(vetor-1.png);
}

#porto > .pembungkus > div:nth-child(11){
    background-image: url(logoOnfire.jpg);
}


/* /// porto end /// */













/* ////// navigasBawah ////// */
.navigasiBawah {
    /* background-color: yellowgreen; */
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navigasiBawah .notPhone{
    margin: auto;
    width: 40%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    /* visibility: hidden; */
    /* position: absolute; */

}

.navigasiBawah .notPhone a{
    text-align: center;
    padding: 8px;
    flex-basis: 100%;
}

.navigasiBawah .notPhone a:hover{
    background-color: #F0BF6C;
}


.navigasiBawah .notPhone img{
    width: 18px;
}

.navigasiBawah .phone{
    margin: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    display: flex;
    align-items: center;

    position:absolute;
}

.navigasiBawah .phone a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    flex-basis: 100%;
}

.navigasiBawah .phone a:hover{
    background-color: #F0BF6C;
    color: #34353A;
}
/* ////// navigasBawah end //// */



/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */

